body{
	background-image: url("../img/body.jpg");
}
header {
	background-image: url("../img/header_funkopop.jpg");
  background-size: 100% 60%;
	color:#fff;
}

.main {
	background:#f2f2f2;
}

.color1 {
	background: #34495e;
	color:#fff;
}

aside {
	background:#c0392b;
	color:#fff;
}

footer {
  background-color: black;
  position: relative;
  bottom: 0;
  width: 100%;
  color: white;
	margin-top: 50px;
}
/*Pagina tuFunko*/
	/*Estos dos ID de acontinuacion seran los contenedores de la cabeza como el cuerpo*/
	#idContenedorCuerpo{
		background-color: rgb(42, 47, 46);
		width: 300px;
		height: 300px;
		margin-bottom: 25px;

	}
	#idContenedorCabeza{
		background-color: rgb(102, 214, 192);
		width: 300px;
		height: 200px;

	}
/**/
#contenedorDeCabezas{
	position: relative;


}
#contenedorDeCuerpo{



}
/**/
#imagenCont{
	width: 100px;
	height: 100px;

	position: absolute;
	top: 0;
	left: 0;
}
